ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.NavBar{
    /*background-color: grey;*/
    background-image: url("224700.jpg");
    display: flex;
}
  
li {
    display: block;
    padding: 8px;
}
a {
    display: inline;
    text-decoration: none;
    float: right;
    padding: 8px;
}
a:link {
    color: whitesmoke;
    
  }
/* visited link */
a:visited {
    color: whitesmoke;
  }
a:hover {
    background-color: indigo;
} 


ul li {display: inline-block;}
ul li:hover {background: indigo}
ul li:hover ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a {
    float: none;
}
ul li ul {
  position: absolute;
  display: none;
}
ul li ul li { 
  background: indianred; 
  display: block; 
  padding: 8px;
}

.searchBar{
    background-color: white;
    border: none;
}

/*sign up button centering/style */
.forceLeft{
    background-color: rgb(133, 133, 133);
    margin-right: 33%;
    size: 60%;
    border: 1px solid white;
   

}