/* music card */
#card{
  /*background-image:url("tealfade.jpg");*/
  background-image: url("/src/components/Home/wheel.gif");
  width: 250px;
  height: 200px;
  opacity: 0.8;
  
  display: inline-flex;
  padding: 1%;
  margin: 1%;
  color: white;
}
/* artist text */
#artistID{
    color: white;
    text-align: left;
    size: 40%;
}
/* song text */
#songID{
    color:white;
    text-align: left;
}
/* genre text */
#genreID{
    color: white;
    text-align: left;
}